$chat-width: 75%;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 8px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font-sizes
$font-size-base: 1rem;
$font-size-small: $font-size-base * 0.75;
$font-size-large: $font-size-base * 1.5;