$chat-width: 75%;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 8px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font-sizes
$font-size-base: 1rem;
$font-size-small: $font-size-base * 0.75;
$font-size-large: $font-size-base * 1.5;

$font-size-mobile: 0.8rem;
$font-size-mobile-large: $font-size-mobile * 1.5;
$font-size-mobile-small: $font-size-mobile * 0.75;

$font-size-mobile-smaller: 0.66rem;
$font-size-mobile-smaller-large: $font-size-mobile-smaller * 1.5;
$font-size-mobile-smaller-small: $font-size-mobile-smaller * 0.75;

$font-size-mobile-smallest: 0.55rem;
$font-size-mobile-smallest-large: $font-size-mobile-smallest * 1.5;
$font-size-mobile-smallest-small: $font-size-mobile-smallest * 0.75;

// mobile
$smaller-width: 1280px;
$mobile-width: 750px;
$mobile-width-smaller: 450px;
$mobile-width-smallest: 300px;

$max-height: 550px;
