@use 'abstracts/index' as s;

body{
  margin: 0;
  color: var(--font-color);
  font-family: sans-serif;
}
button, input{
  border: 2px;
  &:hover{
    background-color: var(--chat-message);
  }
}
#chat{
  margin: 0;
  background: linear-gradient(120deg, var(--primary), var(--secondary-grad));
  height: 100vh;
}
#login{
  margin: 0;
  background: linear-gradient(120deg, var(--primary), var(--secondary-grad));
  height: 100vh;
}