@use 'abstracts/index' as s;

body{
  margin: 0;
  color: var(--font-color)
}

#chat{
  margin: 0;
  background: linear-gradient(120deg, var(--primary), var(--secondary-grad));
  height: 100vh;
}
#login{
  margin: 0;
  background: linear-gradient(120deg, var(--primary), var(--secondary-grad));
  height: 100vh;
}